<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Акселератор</title>
    <link rel="stylesheet" href="../dist/css/bootstrap.css">
    <link rel="stylesheet" href="../dist/css/fonts.css">
    <link rel="stylesheet" href="../dist/css/main.css">
</head>

<body>
    <div class="wrapper">
        <header class="main-header">
            <nav class="navbar navbar-light py-3">
                <div class="container-xl">
                    <div class="main-header__nav">
                        <a class="navbar-brand" href="#">
                            <div class="logo">
                                <div class="logo__image logo__one">
                                    <img src="../dist/images/logo-1-2.png" alt="">
                                </div>
                                <div class="logo__image logo__two">
                                    <img src="../dist/images/logo-2-2.png" alt="">
                                </div>
                                <div class="logo__text">
                                    Безграничная<br /> молодежь
                                </div>
                            </div>
                        </a>
                        <a class="poor-vision" href="#">
                            <img src="../dist/images/eye.svg" class="poor-vision__image" alt="" />
                            <div class="poor-vision__text">Версия для слабовидящих</div>
                        </a>
                        <div class="button-wrapper xl-down-hide">
                            <button class="btn btn--secondary">Стать участником</button>
                            <button class="btn btn--login">Войти</button>
                        </div>
                    </div>
                </div>
            </nav>
        </header>
        <main>
            <section class="section intro">
                <div class="container-xl full-height">
                    <div class="intro__content full-height">
                        <div class="intro__info">
                            <div class="intro__title-wrapper">
                              <h1 class="intro__title">
                                  АКСЕЛЕРАТОР<br>
                              </h1>
                              <h2 class="intro__sub-title">
                                  ПРОЕКТОВ МОЛОДЕЖИ<br />
                                  <span>С ОГРАНИЧЕННЫМИ</span><br />
                                  ВОЗМОЖНОСТЯМИ<br />
                                  ЗДОРОВЬЯ
                              </h2>
                            </div>
                            <div class="button-wrapper">
                                <button class="btn btn--secondary btn--intro">Стать участником</button>
                            </div>
                        </div>
                        <div class="intro__image">
                            <div class="image-wrapper">
                                <img class="intro__img intro__layout__image" src="../dist/images/teenagers-edited.png" alt="">
                            </div>
                        </div>
                    </div>
                </div>
                <!-- <div class="intro__layout">
                    <div class="image-wrapper">
                        <img class="intro__layout__image" src="../dist/images/teenagers-edited.png" alt="">
                    </div>
                </div> -->
            </section>
            <section class="section info section--light">
                <div class="container-xl">
                    <div class="title-wrapper">
                        <h2 class="section__title">Акселератор проектов молодежи с ограниченными
                            возможностями здоровья
                            «Безграничная молодежь»</h2>
                    </div>
                    <div class="section__content">
                        <div class="info__content">
                            <div class="text-wrapper">
                                <p class="info__content__text section__text">
                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc, est, eu ultrices
                                    quisque
                                    habitasse. Quis dictum faucibus tristique odio at eget. Facilisi egestas lectus
                                    faucibus
                                    sed
                                    in neque. Commodo et purus magna convallis fusce adipiscing id ut. Lorem ipsum dolor
                                    sit
                                    amet, consectetur adipiscing elit. Nunc, est, eu ultrices quisque habitasse. Quis
                                    dictum
                                    faucibus tristique odio at eget. Lorem ipsum dolor sit amet, consectetur adipiscing
                                    elit.
                                    Nunc, est, eu ultrices quisque habitasse. Quis dictum faucibus tristique odio at
                                    eget.
                                </p>
                            </div>
                            <div class="partner-list">
                                <div class="partner-item">
                                    <img src="../dist/images/pfr.png" alt="" srcset="">
                                </div>
                                <div class="partner-item">
                                    <img src="../dist/images/rffi.png" alt="" srcset="">
                                </div>
                            </div>
                        </div>
                        <div class="button-wrapper">
                            <button class="btn btn--secondary btn--intro">Стать участником</button>
                        </div>
                    </div>
                </div>
            </section>
            <section class="section section--light-gradient steps">
                <div class="container-xl">
                    <div class="title-wrapper">
                        <h2 class="section__title">
                            Как проходит обучение?
                        </h2>
                    </div>
                    <div class="section__content">
                        <div class="steps__content">
                            <div class="steps__route">
                                <div class="steps__route__maps">
                                    <img class="steps__route__desktop" src="../dist/images/route.png" alt="">
                                    <img class="steps__route__tablet" src="../dist/images/route-tablet.png" alt="">
                                    <img class="steps__route__mobile" src="../dist/images/route-mobile.png" alt="">
                                </div>
                                <div class="steps__route__item steps__route__rocket">
                                    <div class="steps__route__image">
                                        <img src="../dist/images/rocket.png">
                                    </div>
                                    <div class="steps__route__info">
                                        <p class="steps__route__name">Шаг 1</p>
                                        <p class="steps__route__description">
                                            Регистрация
                                        </p>
                                    </div>
                                </div>
                                <div class="steps__route__item steps__route__flag steps__route__flag--1">
                                    <div class="steps__route__image">
                                        <img src="../dist/images/flag.png">
                                    </div>
                                    <div class="steps__route__info">
                                        <p class="steps__route__name">Шаг 2</p>
                                        <p class="steps__route__description">
                                            Подбери удобное оформление сайта
                                        </p>
                                    </div>
                                </div>
                                <div
                                    class="steps__route__item steps__route__item--reverse steps__route__flag steps__route__flag--2">
                                    <div class="steps__route__image">
                                        <img src="../dist/images/flag.png">
                                    </div>
                                    <div class="steps__route__info steps__route__info--left">
                                        <p class="steps__route__name">Шаг 3</p>
                                        <p class="steps__route__description">
                                            Познакомься <br>с нами
                                        </p>
                                    </div>
                                </div>
                                <div class="steps__route__item steps__route__flag steps__route__flag--3">
                                    <div class="steps__route__image">
                                        <img src="../dist/images/flag.png">
                                    </div>
                                    <div class="steps__route__info">
                                        <p class="steps__route__name">Шаг 4</p>
                                        <p class="steps__route__description">
                                            Пройди обучение<br> 12 модулей
                                        </p>
                                    </div>
                                </div>
                                <div
                                    class="steps__route__item steps__route__item--reverse steps__route__flag steps__route__flag--4">
                                    <div class="steps__route__image">
                                        <img src="../dist/images/flag.png">
                                    </div>
                                    <div class="steps__route__info steps__route__info--left">
                                        <p class="steps__route__name">Шаг 5</p>
                                        <p class="steps__route__description">
                                            Встречайся с<br> наставниками
                                        </p>
                                    </div>
                                </div>
                                <div
                                    class="steps__route__item steps__route__item--reverse steps__route__flag steps__route__flag--5">
                                    <div class="steps__route__image">
                                        <img src="../dist/images/flag.png">
                                    </div>
                                    <div class="steps__route__info">
                                        <p class="steps__route__name">Шаг 6</p>
                                        <p class="steps__route__description">
                                            Разработай <br>свой проект
                                        </p>
                                    </div>
                                </div>
                                <div
                                    class="steps__route__item steps__route__item steps__route__flag steps__route__flag--6">
                                    <div class="steps__route__image">
                                        <img src="../dist/images/flag.png">
                                    </div>
                                    <div class="steps__route__info steps__route__info--left">
                                        <p class="steps__route__name">Шаг 7</p>
                                        <p class="steps__route__description">
                                            Стань<br> финалистом
                                        </p>
                                    </div>
                                </div>
                                <div
                                    class="steps__route__item steps__route__item steps__route__flag steps__route__flag--7">
                                    <div class="steps__route__image">
                                        <img src="../dist/images/flag.png">
                                    </div>
                                    <div class="steps__route__info">
                                        <p class="steps__route__name">Шаг 8</p>
                                        <p class="steps__route__description">
                                            Монетизируй <br> свой проект
                                        </p>
                                    </div>
                                </div>
                                <div class="button-wrapper">
                                    <button class="btn btn--secondary btn--intro">Стать участником</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <section class="section video">
                <div class="video__content">
                    <div class="video__preview">
                        <img class="show video__preview__img" src="../dist/images/preview.png" alt="">
                        <iframe id="video" class="hide" width="100%" height="540px" src="https://www.youtube-nocookie.com/embed/BgscVQVW9u4?controls=0?rel=0&showinfo=0" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen="" style="position: relative;"></iframe>
                    </div>
                    <div class="video__controll">
                        <img src="../dist/images/play.svg" class="video__controll__img" alt="" />
                        <div class="video__controll__text">Посмотрите, как пользоваться платформой</div>
                    </div>
                </div>
            </section>
            <section class="section section--light-gradient experts">
                <div class="container-xl">
                    <div class="title-wrapper">
                        <h2 class="section__title">
                            Эксперты
                        </h2>
                    </div>
                    <div class="expert__content">
                        <div class="experts__list">
                            <div class="experts__item">
                                <div class="experts__avatar">
                                    <div class="image-wrapper">
                                        <img src="../dist/images/person.png" alt="">
                                    </div>
                                    <div class="experts__name experts__name--light">Дмитрий Иванов</div>
                                </div>
                                <div class="experts__talk">
                                    <div class="experts__name">Дмитрий Иванов</div>
                                    <div class="experts__message">
                                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc,
                                        est, eu ultrices quisque habitasse. Quis dictum faucibus tristique odio at eget.
                                        Facilisi egestas lectus faucibus sed in neque. Commodo et purus magna convallis
                                        fusce adipiscing id ut. Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                                        Nunc, est, eu ultrices quisque habitasse. Quis dictum faucibus tristique odio at
                                        eget. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc, est, eu
                                        ultrices quisque habitasse. Quis dictum faucibus tristique odio at eget.
                                    </div>
                                </div>
                            </div>
                            <div class="experts__item">
                                <div class="experts__avatar">
                                    <div class="image-wrapper">
                                        <img src="../dist/images/person.png" alt="">
                                    </div>
                                    <div class="experts__name experts__name--light">Дмитрий Иванов</div>
                                </div>
                                <div class="experts__talk">
                                    <div class="experts__name">Дмитрий Иванов</div>
                                    <div class="experts__message">
                                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc,
                                        est, eu ultrices quisque habitasse. Quis dictum faucibus tristique odio at eget.
                                        Facilisi egestas lectus faucibus sed in neque. Commodo et purus magna convallis
                                        fusce adipiscing id ut. Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                                        Nunc, est, eu ultrices quisque habitasse. Quis dictum faucibus tristique odio at
                                        eget. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc, est, eu
                                        ultrices quisque habitasse. Quis dictum faucibus tristique odio at eget.
                                    </div>
                                </div>
                            </div>
                            <div class="experts__item">
                                <div class="experts__avatar">
                                    <div class="image-wrapper">
                                        <img src="../dist/images/person.png" alt="">
                                    </div>
                                    <div class="experts__name experts__name--light">Дмитрий Иванов</div>
                                </div>
                                <div class="experts__talk">
                                    <div class="experts__name">Дмитрий Иванов</div>
                                    <div class="experts__message">
                                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc,
                                        est, eu ultrices quisque habitasse. Quis dictum faucibus tristique odio at eget.
                                        Facilisi egestas lectus faucibus sed in neque. Commodo et purus magna convallis
                                        fusce adipiscing id ut. Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                                        Nunc, est, eu ultrices quisque habitasse. Quis dictum faucibus tristique odio at
                                        eget. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc, est, eu
                                        ultrices quisque habitasse. Quis dictum faucibus tristique odio at eget.
                                    </div>
                                </div>
                            </div>
                            <div class="experts__item">
                                <div class="experts__avatar">
                                    <div class="image-wrapper">
                                        <img src="../dist/images/person.png" alt="">
                                    </div>
                                    <div class="experts__name experts__name--light">Дмитрий Иванов</div>
                                </div>
                                <div class="experts__talk">
                                    <div class="experts__name">Дмитрий Иванов</div>
                                    <div class="experts__message">
                                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc,
                                        est, eu ultrices quisque habitasse. Quis dictum faucibus tristique odio at eget.
                                        Facilisi egestas lectus faucibus sed in neque. Commodo et purus magna convallis
                                        fusce adipiscing id ut. Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                                        Nunc, est, eu ultrices quisque habitasse. Quis dictum faucibus tristique odio at
                                        eget. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc, est, eu
                                        ultrices quisque habitasse. Quis dictum faucibus tristique odio at eget.
                                    </div>
                                </div>
                            </div>
                            <div class="experts__item">
                                <div class="experts__avatar">
                                    <div class="image-wrapper">
                                        <img src="../dist/images/person.png" alt="">
                                    </div>
                                    <div class="experts__name experts__name--light">Дмитрий Иванов</div>
                                </div>
                                <div class="experts__talk">
                                    <div class="experts__name">Дмитрий Иванов</div>
                                    <div class="experts__message">
                                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc,
                                        est, eu ultrices quisque habitasse. Quis dictum faucibus tristique odio at eget.
                                        Facilisi egestas lectus faucibus sed in neque. Commodo et purus magna convallis
                                        fusce adipiscing id ut. Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                                        Nunc, est, eu ultrices quisque habitasse. Quis dictum faucibus tristique odio at
                                        eget. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc, est, eu
                                        ultrices quisque habitasse. Quis dictum faucibus tristique odio at eget.
                                    </div>
                                </div>
                            </div>
                            <div class="experts__item">
                                <div class="experts__avatar">
                                    <div class="image-wrapper">
                                        <img src="../dist/images/person.png" alt="">
                                    </div>
                                    <div class="experts__name experts__name--light">Дмитрий Иванов</div>
                                </div>
                                <div class="experts__talk">
                                    <div class="experts__name">Дмитрий Иванов</div>
                                    <div class="experts__message">
                                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc,
                                        est, eu ultrices quisque habitasse. Quis dictum faucibus tristique odio at eget.
                                        Facilisi egestas lectus faucibus sed in neque. Commodo et purus magna convallis
                                        fusce adipiscing id ut. Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                                        Nunc, est, eu ultrices quisque habitasse. Quis dictum faucibus tristique odio at
                                        eget. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc, est, eu
                                        ultrices quisque habitasse. Quis dictum faucibus tristique odio at eget.
                                    </div>
                                </div>
                            </div>
                            <div class="experts__item">
                                <div class="experts__avatar">
                                    <div class="image-wrapper">
                                        <img src="../dist/images/person.png" alt="">
                                    </div>
                                    <div class="experts__name experts__name--light">Дмитрий Иванов</div>
                                </div>
                                <div class="experts__talk">
                                    <div class="experts__name">Дмитрий Иванов</div>
                                    <div class="experts__message">
                                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc,
                                        est, eu ultrices quisque habitasse. Quis dictum faucibus tristique odio at eget.
                                        Facilisi egestas lectus faucibus sed in neque. Commodo et purus magna convallis
                                        fusce adipiscing id ut. Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                                        Nunc, est, eu ultrices quisque habitasse. Quis dictum faucibus tristique odio at
                                        eget. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc, est, eu
                                        ultrices quisque habitasse. Quis dictum faucibus tristique odio at eget.
                                    </div>
                                </div>
                            </div>
                            <div class="experts__item">
                                <div class="experts__avatar">
                                    <div class="image-wrapper">
                                        <img src="../dist/images/person.png" alt="">
                                    </div>
                                    <div class="experts__name experts__name--light">Дмитрий Иванов</div>
                                </div>
                                <div class="experts__talk">
                                    <div class="experts__name">Дмитрий Иванов</div>
                                    <div class="experts__message">
                                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc,
                                        est, eu ultrices quisque habitasse. Quis dictum faucibus tristique odio at eget.
                                        Facilisi egestas lectus faucibus sed in neque. Commodo et purus magna convallis
                                        fusce adipiscing id ut. Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                                        Nunc, est, eu ultrices quisque habitasse. Quis dictum faucibus tristique odio at
                                        eget. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc, est, eu
                                        ultrices quisque habitasse. Quis dictum faucibus tristique odio at eget.
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="button-wrapper">
                        <button class="btn btn--secondary btn--intro">Стать участником</button>
                    </div>
                </div>
            </section>
            <section class="section section--light partners">
                <div class="container-xl">
                    <div class="title-wrapper">
                        <h2 class="section__title">
                            Партнеры проекта
                        </h2>
                    </div>
                    <div class="section__content partners__content">
                        <div class="swiper">
                            <!-- Additional required wrapper -->
                            <div class="swiper-wrapper">
                                <div class="partners__item swiper-slide">
                                    <img src="../dist/images/pfr.png" alt="">
                                </div>
                                <div class="partners__item swiper-slide">
                                    <img src="../dist/images/rffi.png" alt="">
                                </div>
                                <div class="partners__item swiper-slide">
                                    <img src="../dist/images/fbk.png" alt="">
                                </div>
                                <div class="partners__item swiper-slide">
                                    <img src="../dist/images/frp.png" alt="">
                                </div>
                                <div class="partners__item swiper-slide">
                                    <img src="../dist/images/pfr.png" alt="">
                                </div>
                                <div class="partners__item swiper-slide">
                                    <img src="../dist/images/pfr.png" alt="">
                                </div>
                            </div>
                        </div>
                        <div class="controlls">
                            <div class="swiper-button-next"></div>
                            <div class="swiper-button-prev"></div>
                            <div class="swiper-pagination"></div>
                        </div>
                    </div>
                </section>
                <section class="section contact">
                  <div class="container-xl">
                    <div class="contact-form">
                        <h3 class="contact-form__title">Получи бесплатную консультацию</h3>
                        <p class="contact-form__text contact-form__text__one">Заполните форму, чтобы получить бесплатную консультацию и
                            ответы на все ваши вопросы</p>
                        <form class="contact-form__form">
                            <div class="contact-form__field">
                                <input type="text" class="contact-form__input" name="name" placeholder="Ваше имя">
                            </div>
                            <div class="contact-form__field">
                                <input type="text" class="contact-form__input" name="phone"
                                    placeholder="Номер телефона">
                            </div>
                            <div class="contact-form__field">
                                <input type="email" class="contact-form__input" name="email" placeholder="Email">
                            </div>
                            <div class="contact-form__field button-wrapper">
                                <button class="btn btn--secondary btn--intro">Получить консультацию</button>
                            </div>
                        </form>
                        <p class="contact-form__text">Контакты для связи: <span>fond@gmail.com</span></p>
                    </div>
                  </div>
                </section>
            </main>
    <footer class="main-footer">
        <div class="container-xl">
            <div class="main-footer__content">
                <div class="main-footer__logo">
                    <a href="#">
                        <div class="logo">
                            <div class="logo__image">
                                <img src="../dist/images/logo-1-2.png" alt="">
                            </div>
                            <div class="logo__image">
                                <img src="../dist/images/logo-2-white.png" alt="">
                            </div>
                            <div class="logo__text">
                                Безграничная
                                молодежь
                            </div>
                        </div>
                    </a>
                </div>
                <div class="main-footer__info desk">
                    <p class="main-footer__text">Реализация проекта по поручению Президента РФ Пр-2177, п.2:</p>
                    <a href="https://kremlin.ru/acts/assignments/orders/64694" target="_blank"
                        class="main-footer__link">kremlin.ru/acts/assignments/orders/64694</a>
                </div>
                <div class="main-footer__info mob">
                    <p class="main-footer__text">Реализация проекта по поручению Президента РФ Пр-2177, п.2: <a href="https://kremlin.ru/acts/assignments/orders/64694" target="_blank"
                        class="main-footer__link">kremlin.ru/acts/assignments/orders/64694</a></p>
                </div>
                <div class="main-footer__contact">
                    <p class="main-footer__contact-text mb-2 fw-bold">Контакты для связи</p>
                    <a href="mailto:naripsproject.ru@gmail.com"
                        class="main-footer__contact-text">naripsproject.ru@gmail.com</a>
                </div>
            </div>
            <div class="main-footer__copyright">
                <p class="main-footer__copyright-text">©️ 2021 Ассоциация «Национальная ассоциация развития
                    инноваций,
                    предпринимательства и самозанятости» </p>
                <p class="main-footer__copyright-text">Все права защищены, размещённые материалы являются объектами
                    интеллектуальной собственности</p>
            </div>
        </div>
    </footer>
    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="../dist/js/bootstrap.js"></script>
    <script src="../dist/js/app.js"></script>
    <script src="../dist/js/spritemap.js"></script>
    <script src="../dist/js/main.js"></script>
</body>

</html>
